

body {
  background-color: #E3E3E3;
  /*border: 1px solid tomato;*/
  /*overflow: auto;*/
  /*width: 500px;*/
  font-size: 18px;
}

article {
    /*display: flex;
    flex-wrap: wrap;*/
  /*width: 900px;*/
  width:530px;
  /*border: 4px solid blue;*/
/*allows article to be centered*/
  margin: auto;
}

#mainForm, #resultContainerDiv {
  /*allows form and div, to position themselves in middle:*/
 margin: 3px 3px;
  padding: 0 0px;
  width:250px;
  /*prevent container from doing the funky chicken dance (getting bigger) when calculation shows up*/
  height:365px;
  /*min-width:200px;
  max-width:540px;
  min-height: 385px;
  max-height: 390px;*/
  background-color: #ffffff;
   /*border: 23px solid green;*/
   border-radius: 5px;
   box-shadow: 0 4px 9px -3px rgba(0, 0, 0, 0.67);
     text-align: center;
}

  #mainForm {
    float: left;
    /*margin-left: 3px;*/
    /*border: 1px solid red;*/
  }

  #resultContainerDiv {
    float: left;
    /*border: 1px solid blue;*/
  }


h4 {
  /*original pastel green for header:*/
  color: #356115;
  color: rgb(110, 180, 49);
color: #79c822;
  /*color: #7ED321;*/
  font-weight: 800;
  text-align: center;
  /*nice orange*/
  /*color: #FFCC00;
  color: #F3A51B;*/
}

h5 {
  color: tomato;
}

.formFields li {
  /*border: 1px solid goldenrod;*/
  list-style-type:none;
/*this li element has 2 floated children. this prevents the header under from jumping around:*/
  overflow: auto;

}

.formFields label{
  /*background-color:red;*/
  width: 120px;
  /*float both input and label elements left so they are closer together, less space in middle:*/
    float: left;
    margin-right:6px;
  /*border: 1px solid blue;*/
  padding: 3px;
}

input {
width: 55px;
font-size:15px;
border-radius:5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
background: #fff;
background: #F9F9F9;
border: 1px solid #ccc;
padding: 3px;
margin-bottom: 5px;
outline: none;

/*border: 1px solid green;*/
/*float both input and label elements left so they are closer together, less space in middle*/
float:left;
}

#bankDiscount {
  width: 57px;
}

#gallonsNeeded {
  width: 57px;
  margin-left: 1px;
}

/*Disable huge blue border that shows in in Chrome when selecting on input fields*/
input:focus {
    /*outline-color:red;*/
    /*Twitter blue border:*/
    /*border: 1px solid #56b4ef;*/
    border: 1px solid #79c822;

    box-shadow: 0px 0px 3px 1px #c8def0;
    /*border: 1px solid red;*/

}

/*.fa {
  border: 1px solid green;
}*/

ul {
  padding:0;
text-align:right;
/*margin: auto;*/
  /*border: 1px solid cyan;*/
/*margin: auto;*/
}


span {
  float: left;
  padding: 3px
}
/*
table {
  border-collapse: collapse;
}

table, th, tr, td{
  text-align:right;
  border: 1px solid black;
  text-align: right;

}*/


table {
  margin: auto;
  width: 210px;
  max-width: 220px;
  background-color: #c2dfae;
  /*background-color: #a6cd8a;*/

  /*border-collapse:collapse;*/
}

th, td {
  border-bottom: 1px solid white;
  /*background: tomato;*/
  /*prevents table from doing chicken chance on td start gettigng bigger #*/
  width: 110px;
  /*max-width: 100px;*/
  /*text-align: right;*/
}

th {
  /*text-align: right;*/
  color: #214109;
  /*color: #315625;*/
  background: #8eb870;
}

p {
  /*background: red;*/
  margin-left: 10px;
  margin-right: 10px;


}

#errorMsg {
  color: tomato;
}
























/*
.calculateBtn {
  box-sizing: border-box;
  background: rgb(110, 180, 49);
  color: #fafafa;
  padding: 7px;
  margin-left: 3px;
  margin-top: 8px;
  margin-bottom: 8px;

    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.5);

}

.calculateBtn:hover {
  background-color: #7ED321;
}*/






































/*.calculationResultContainer {
  border: 1px dashed blue;
}

.one, .two {
  border: 1px solid red;
  display: inline;
}

table {
   border: 1px solid red;
}

td {
   border: 1px solid green;
}

.calculationResultContainer {
   border: 1px solid red;
}

.userInput {
  min-width: 400px;

}*/
