.hiddenResultTable {
  visibility: hidden;
}

.userInput {

  border: 1px solid red;
}

.calculationResultContainer {
  border: 1px dashed blue;
}

.one, .two {
  border: 1px solid red;
  display: inline;
}

table {
   border: 1px solid red;
}

td {
   border: 1px solid green;
}

.calculationResultContainer {
   border: 1px solid red;
}

.userInput {
  min-width: 400px;
  
}
